# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if you use vendoring)
vendor/

# IDE/editor directories and files
.idea/
.vscode/
*.swp

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# Vercel configuration
.vercel

# Ignore build artifacts
*.o
*.a
*.out
